$_divider-color-dark: rgba(255, 255, 255, 0.125);
$_divider-color: rgba(0, 0, 0, 0.125);
$_info-wrapper-max-width: 235px;

.user-info {
  position: relative;
  .profile-image {
    width: $profile-image-size;
    height: $profile-image-size;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid $main-text-primary-light;
    background-color: $main-text-primary-light;
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
  }
  .fallback-image {
    @include svg-bg($profile-image-size, mix($white, $main-text-primary-light, 50%), $default-profile-image);
  }
  .info-wrapper {
    max-width: $_info-wrapper-max-width;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: $profile-image-size;
    padding-right: map-get($spacers, 3);
    padding-left: map-get($spacers, 3);
    @include ltr {
      text-align: right;
      margin-right: $profile-image-size;
    }
    @include rtl {
      text-align: left;
      margin-left: $profile-image-size;
    }

    .name {
      color: $main-text-primary-light;
    }
    .subtitle {
      color: $main-text-secondary-light;
      @extend .small;
    }
  }
}

/* dark theme */
.topbar, .sidebar, .dark {
  .user-info {
    img {
      border: 2px solid white;
      background-color: white;
    }
    .info-wrapper {
      .name {
        color: $main-text-primary-dark;
      }
      .subtitle {
        color: $main-text-secondary-dark;
      }
    }
  }
}
