<div class="layout-wrapper d-flex">
  <div class="menu" [scpLoadingOverlay]="loading.items" overlayType="visibility">
    <div class="barcode-field d-flex p-3" dir="ltr">
      <input class="form-control form-control-lg text-center" type="text" [formControl]="barCodeInput">
      <button (click)="toggleAutoInsert()" class="barcode-btn btn btn-large mr-3" [ngClass]="{ 'btn-primary text-light': autoInsertFromBarCodeEnabled, 'deactivated text-light': !autoInsertFromBarCodeEnabled }" icon="app:barcode" [size]="36"></button>
    </div>
    <div class="categories">
      <button class="btn btn-lg" [ngClass]="{ 'btn-primary': category.selected, 'btn-outline-primary': !category.selected }" (click)="onCategoryUpdate(category)" *ngFor="let category of categories">{{ category.name }}</button>
    </div>
    <div class="products">
      <div class="row no-gutters">
        <div class="product-item col-lg-3 col-md-4 col-sm-6" *ngFor="let item of filteredItems">
          <div class="card" (click)="addOrderItem(item)">
            <div class="card-body d-flex">
              <img class="thumbnail" [src]="item.image" (error)="resolveInvalidImage($event)">
              <div class="description">
                <div class="label"><strong>{{ item.name }}</strong></div>
                <div class="price">{{ item.price }} ريال</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-details">
    <div class="top-section d-flex align-items-center">
      <h4>طلب جديد</h4>
      <a [href]="configs.ordersListUrl" target="_blank" class="btn btn-lg btn-secondary ml-auto">الطلبات السابقة</a>
    </div>
    <div class="details">
      <app-order-item *ngFor="let oi of orderItems" [item]="oi" (update)="onItemUpdate($event)" (delete)="onItemDelete($event)"></app-order-item>
    </div>
    <div class="summary p-3 bg-white">
      <div class="total large"><strong>المجموع (ريال): {{ order.totalPrice | number: '1.2-2' }}</strong></div>
      <div class="vat text-muted">يشمل ضريبة القيمة المضافة: {{ order.vatPrice | number: '1.2-2' }}</div>
    </div>
    <div class="actions d-flex justify-content-between">
      <button class="btn btn-lg btn-outline-danger" [disabled]="orderItems.length < 1" (click)="discardCurrentOrder()">إلغاء</button>
      <app-button-group-control size="lg" [items]="cashOrBankInputOptions" [(ngModel)]="order.cashOrBank"></app-button-group-control>
      <button class="btn btn-lg btn-primary" [disabled]="orderItems.length < 1" (click)="submit()">إضافة وطباعة</button>
    </div>
  </div>
  <!-- <div class="sidebar">
    <button class="btn icon-btn" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
        <polyline points="14 2 14 8 20 8"></polyline>
        <line x1="12" y1="18" x2="12" y2="12"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
      </svg>
    </button>
  </div> -->
</div>

<scp-dialog #submitDialog [title]="'الفاتورة' + (invoice?.invoiceNumber ? ' #' + invoice?.invoiceNumber : '')" [dismissable]="false" [actions]="[{ label: 'إغلاق', key: 'close', pushed: true }, {label: 'طلب جديد', key: 'newOrder' }, { label: 'طباعة', key: 'print' } ]">
  <div class="invoice" [scpLoadingOverlay]="loading.invoice">
    <div class="store-name text-center mb-1 text-bold">{{invoice?.storeName}}</div>
    <div class="store-address text-center mb-2 text-small">{{invoice?.storeAddress}}</div>
    <hr>
    <small class="d-block cashier-name mb-2">بواسطة: {{ invoice?.cashierName }}</small>
    <div class="date-and-time d-flex justify-content-between mb-2">
      <div class="date">التاريخ: {{ invoice?.time | date:'dd/MM/yyyy' }}</div>
      <div class="time">الوقت: <span dir="ltr">{{invoice?.time | date:'HH:mm:ss' }}</span></div>
    </div>
    <div class="vat-number mb-3">الرقم الضريبي: {{ configs.vatNumber }}</div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>المنتجات</th>
          <th>الكمية&nbsp;</th>
          <th>السعر</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems">
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.sumPrice }}</td>
        </tr>
      </tbody>
    </table>
    <div class="total-price d-flex justify-content-between">
      <div>المجموع (ريال)</div>
      <div><strong>{{ order.totalPrice }}</strong></div>
    </div>
    <div class="vat-price d-flex justify-content-between">
      <div>يشمل ضريبة القيمة المضافة (<span dir="ltr">{{ configs.vatRate * 100 }}%</span>)</div>
      <div><strong>{{ order.vatPrice }}</strong></div>
    </div>
    <div class="invoice-closure text-center mt-4">&lt;&lt;&lt;&lt;&lt;&lt;&lt;&nbsp;&nbsp; إغلاق الفاتورة &nbsp;&nbsp; {{ invoice?.invoiceNumber }} &nbsp;&nbsp;&lt;&lt;&lt;&lt;&lt;&lt;&lt;</div>
    <div class="invoice-barcode text-center mt-3">
      <img [src]="invoice?.barCode">
    </div>
  </div>
</scp-dialog>
